<!-- Travel Section -->
<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">I luoghi</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2">
                <br><br><br><br><br><br><br><br>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"> 
                    <i class="fa fa-circle fa-stack-2x text-primary"></i> 
                    <img src="/wedding/img/events/7.png" class="img-circle fa-stack-1x"> 
                </span>
                <h4 class="service-heading">Chiesa di San Pier di Canne</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit ultricies pharetra. Donec maximus at neque a vehicula.</p>
                <iframe class="fa-stack fa-10x" style="border: 5px solid rgba(200, 162, 200, 0.5);;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2015.537203237325!2d9.319306954166446!3d44.32832128099287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4a3e4cb6b0a1f%3A0x94bb2d550637e8a5!2sParrocchia%20San%20Pietro%20in%20Sampierdicanne!5e0!3m2!1sit!2sit!4v1772144708748!5m2!1sit!2sit" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
            <div class="col-md-1">
                <br><br><br><br><br><br><br><br>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"> 
                    <i class="fa fa-circle fa-stack-2x text-primary"></i> 
                    <img src="/wedding/img/events/8.png" class="img-circle fa-stack-1x"> 
                </span>
                <h4 class="service-heading">La Novellina</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit ultricies pharetra. Donec maximus at neque a vehicula.</p>
                <iframe class="fa-stack fa-10x" style="border: 5px solid rgba(200, 162, 200, 0.5);;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.197535708997!2d9.22548428614802!3d44.40859209649868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4a7299e8d3fa7%3A0x48869191e4d3adaf!2sAgriturismo%20La%20Novellina!5e0!3m2!1sit!2sit!4v1772144844488!5m2!1sit!2sit" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>